body {
  background-color: #ecdfcc;
  color: #181c14;
  min-height: 100vh;
  padding: 20px;
}

html.theme-dark body {
  background-color: #181c14;
  color: #ecdfcc;
  min-height: 100vh;
  padding: 20px;
}

button {
  margin: 0 5px;
}

.global-config-value {
  color: #697565;
  font-style: italic;
  opacity: 0.8;
}

body input,
body textarea {
  background-color: #ffffff;
  color: #181c14;
  border: 1px solid #697565;
  padding: 10px;
  border-radius: 5px;
}

html.theme-dark body input,
html.theme-dark body textarea {
  background-color: #3c3d37;
  color: #ecdfcc;
  border: 1px solid #697565;
  padding: 10px;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-color: #72421f;
  outline: none;
  box-shadow: 0 0 5px #72421f;
}

body table {
  background-color: #ffffff;
  color: #181c14;
  border: 1px solid #697565;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

html.theme-dark body table {
  background-color: #3c3d37;
  color: #ecdfcc;
  border: 1px solid #697565;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #697565;
  background-color: transparent;
}

html.theme-dark body .table thead th,
html.theme-dark body .table tbody td {
  background-color: #3c3d37;
}

html.theme-dark body .table.is-striped tbody tr:nth-child(even) td,
html.theme-dark body .table.is-striped tbody tr:nth-child(odd) td,
html.theme-dark body .table tr:hover td {
  background-color: #3c3d37;
}

html.theme-dark body thead th {
  color: #ecdfcc;
}

html.theme-dark body label,
html.theme-dark body h1 {
  color: #ecdfcc;
}

html.theme-dark body ::placeholder {
  color: #697565;
}

html.theme-dark body .box,
html.theme-dark body .textarea {
  background-color: #3c3d37;
  color: #ecdfcc;
}
