<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>View All Logs</title>
  </head>
  <body class="theme-light">
    <section class="section">
      <div class="container">
        <h1 class="title">Last 100 Log Entries</h1>
        <pre class="box" id="log-output">
{% for log in logs[-100:][::-1] %}{{ log }}{% endfor %}</pre
        >
        <a href="{{ url_for('index') }}" class="button is-link"
          >Back to Tunnels</a
        >
      </div>
    </section>
    <script>
      document.body.classList.toggle(
        "theme-dark",
        window.matchMedia("(prefers-color-scheme: dark)").matches,
      );
    </script>
  </body>
</html>
